/* KLEINE Killian, CLIMENT Arnaud, BONNEL Alain, BOGAERTS Max */

/* Page sur l'ordinateur */
@media (min-width:570px)
{



/* Affichage general */
body
{
	background-image:url(image/LH_95.jpg) ;
	background-attachment:fixed;
	font-family: trebuchet ms;
	min-width: 560px;
}



/* Menu de la page*/

/* Bandeau de navigation en haut de page */
#navmenu
{
	/* On créé la boite */
	top:0;
	position: fixed;
	height: 67px;
	width: 98%;
	z-index:2; /* permet d'afficher en ordre de priorité 2, le plus élevé est devant */
	/* Couleur et forme de la boite */
	background-color: grey;
	border: 3px rgb(18,26,28) solid;
	border-radius: 10px;
	box-shadow: 5px 5px 10px;
	/* Taille et position du contenu */
	display: flex;
	justify-content:center;
	font-size: 1.25em;
	color:white;
}
/* logo à gauche  */
#logo
{
	position: absolute;
	left:0;
}
/* Liens vers les autres pages dans le menu */
#menu_lien
{
	display:flex;
	justify-content:center;
	width:1500px
}
/* Liens vers les pages exepté la bibliographie */
#pages
{
	float: left;
	display: flex;
	width:58%;
	justify-content:center;
	margin:0px 10px 0px 10px;
}
/* Lien vers la bibliographie, à droite du menu*/
#bibliographie
{
	position: absolute;
	right:0;
	padding:auto;
	max-width:150px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* Bouton cliquable faisant le lien vers les autres pages du site */
.boutonlien
{
	height:67px;
	border:0;
	background:grey;
	font-size: 1em;
	font-family: trebuchet ms;
	color:white;
}
/* Changment de couleur lorsque la souris est sur les boutons précédents */
.boutonlien:hover
{
	background-color: rgb(18,26,28);
}
/* On souligne la page sur laquelle on se trouve déja */
#page_active
{
	text-decoration:underline;
	background-color: rgb(18,26,28);
}

/* Nous n'affichons pas le bouton permettant d'afficher les liens vers les autres pages sur un grand écran : les liens sont déjà accessibles directement.  */
#menubouton{
	display:none;
	visibility:hidden;
}



/* Menu de navigation à droite de la page */

/* Affichage de la liste d'éléments */
#side_menu
{
	position: fixed;
	float: right;
	right: 20px;	/* Nous voulons laisser ce menu visible tout le temps, donc l'écart ne dois pas être definis en %, sinon il disparaitrait partiellement*/
	top: 25%;
	width: 12%;
	z-index:1;
	text-align: center;
}
/* Affichage de chaque ligne de la liste */
#side_menu li
{
	display:inline-block;	
	opacity:0.7;
	width: 75%;
	min-width: 85px;
}
/* Affichage de la ligne lorsque la souris est dessus */
#side_menu li:hover
{
	font-size:1.2em;
	opacity:1;
	width: 80%;
}
/* Affichage du texte  */
#side_menu li p
{
	display:block;
	margin: 0 0 5px 0;
	background-color:grey;
	border: 2px solid rgb(18,26,28);
	border-radius: 8px;
	box-shadow: 3px 2px 50px;
	
	color:white;
	overflow:hidden;	
}
/* Affichage du texte lorsque la souris est dessus */
#side_menu p:hover
{
	background-color: rgb(18,26,28);
}
/* Affichage des flèches */
#side_menu img
{
	width: 25%;
}
/* Affichage des liens */
#side_menu a
{
	text-decoration:none;
	outline:0;
}


/* Corps de la page */

/* fil d'ariane	 */
#f_ariane
{
	margin: 3% 0 0 0;
	color: white;
	font-size : 1.05em;
}

#f_ariane a
{
	color : white;
}
 /* Precision avant contenu */
#disclamer
{
	color:white;
	margin-top:30px;
	margin-bottom:-15px;
}
#haut_de_page
{
	position:absolute;
	top:0;
	visibility:hidden;
}

/* Fond commun aux articles */
#content 
{
	/* Forme et placement de l'element */
	max-width:1200px;
	min-width:500px;
	width: 75%;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	margin: 0 auto;
	margin-top:100px;
	/* Placement du contenu */
	background-color: rgba(18,26,28,0.6);
	padding: 0px 10px 30px 10px;
	overflow:hidden;
	
}
/* Affichage de chaque article */
article
{
	display: inline-block;
	margin: 3% 0 0 0;
	padding-top:40px; /*Afin d'éviter que le menu ne passe au dessus du titre dans les liens à droite, celui-ci est descendu*/
	padding-bottom:10px;
	border: 5px solid rgb(18,26,28);
	border-radius: 20px;
	box-shadow: 5px 5px 10px;
	background-color: white;
	opacity: 0.6;
	color: black;
	width:99%;
}
/* Placement des titres */
article h1
{
	margin:  3% 0 2% 5%;
}
/* Forme du texte */
article p
{
	text-align:justify;
	margin:2% 1% 1% 1%;
}
/* Zone contenant le texte et sa description */
article figure
{
	float: right;
	width:25%;
	margin:0% 1% 1% 1%;
}
/* Image contenue dans la figure */
article img
{
	width:100%;
}
/* Descritpion de l'image */
figcaption
{
	font-size:0.9em;
}

/* Boite accueuillant la video */
.video-container {
	left:2%;
	position: relative;
	margin-bottom:20px;
	padding-bottom: 40%;
	overflow:hidden;
	max-width:70%;
	border-radius:10px
}
/* placement de la video dans la boite */
.video-container iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Mise en forme du contenu du tableau */
table
{
	margin:0 auto;
	width:99%;
	border-collapse:collapse;
	
}

thead
{
	padding-top:10px;
	font-size:1.1em;
}
th
{
    border: 2px solid rgb(18,26,28);
	padding:10px 0 10px 0;
	overflow:hidden;
}



/* Pieds de page  */

/* Forme du pied de page */
footer
{
	position:absolute;
	height:60px;
	width:98%;
	margin:0 auto;
	border: 3px rgb(18,26,28) solid;
	border-radius: 10px;
	background-color:white;
	opacity:0.9;
	display:flex;
	z-index:3;
}
/* Liens dans le pied de page */
footer a
{
	color:rgb(18,26,28);
}
/* liste dans le pied de page */
footer ul
{
	color: black;
	display:flex;
	justify-content:space-around;
	width:100%;
	list-style:none;

}
/* elements de la liste */
footer li
{
	margin: 0 5px 0 5px;
	padding-top:0;
}
/* Les deux images de l'iut et de l'université */
#lientoulouse
{
	width:20%;
}
#imgfoot1
{
	width:100%;
	height:100%;
	border-radius: 10px;
}
#lieniut
{
	width: 12%;
}
#imgfoot2
{
	width:100%;
	height:100%;
	border-radius: 10px;
}

}

/*Page sur le téléphone*/
@media (max-width:570px)
{
/* Affichage general */
body
{
	background-image:url(image/LH_95.jpg) ;
	background-attachment:fixed;
	font-family: trebuchet ms;
	margin:0;
}


/* Menu de la page*/

/* Bandeau de navigation en haut de page */
#navmenu
{
	height: 30px;
	width:95%;
	color:white;
	position: fixed;
	top:0;
	z-index:1;
}
/* Images du bandeau */
#navmenu img
{
	border-radius: 10px;
	position: fixed;
	box-shadow: 5px 5px 10px;
	color:white;
	height:60px;
}
/*Logo de menu*/
#logo
{
	left:1%;
	top: 0%;
}
/* Bouton ouvrant les liens du menu */
#menubouton
{
	right:1%;
	top:0%;
	position:fixed;
	height:60px;
	width:60px;
	background:grey;
	border-radius:10px;
	border:1x;
}
/* image sur le bouton precedent */
#boutonimage
{
	right:1%;
	top:0%;
	width:60px;
}
/* emplacment des liens vers les autres pages non visivle enterme général */
#menu_lien
{
	visibility:hidden;
	margin-left:5%;
	margin-top:70px;
}
/* Lorsque l'on clique sur le bouton de menu, les liens s'affichent et sont cliquables */
#menubouton:focus + #menu_lien,#menu_lien:hover
{
	visibility:visible;
}
/* Affichage des liens */
.boutonlien
{
	height:35px;
	width: 100%;
	border:0;
	font-family: trebuchet ms;
	color:white;
	background:grey;
	border: 1px solid rgb(18,26,28);
	border-radius: 10px;
	z-index:2;
}
/* Affichage dans le menu lien de la page sur laquelle on se trouve */
#page_active
{
	text-decoration:underline;
	background-color: rgb(18,26,28);
	border: 1px solid grey;
}

ul#side_menu
{
	display:none; 
}



/* Corps de la page */
/* fil d'ariane	 */
#f_ariane
{
	margin: 3% 0 0 0;
	color: white;
	font-size : 1.05em;
}

#f_ariane a
{
	color : white;
}
 /* Precision avant contenu */
#disclamer
{
	color:white;
}
/* fond du corps */
#content 
{
	width: 98%;
	padding-top: 60px;
	margin: 0 auto;
	color: white;
	background-color: rgb(18,26,28,0.7);
	overflow:hidden;
	
}
/* affichage de la partie */
article
{
	display: inline-block;
	background-color: white;
	opacity: 0.6;
	color: black;
	margin: 3% 0 0 0;
	padding-top:5px;
	padding-bottom:10px;
	border: 2px solid rgb(18,26,28);
	border-radius: 20px;
	box-shadow: 5px 5px 10px;
	width:99%
}
/* Affichage titre */
article h1
{
	margin:3% 0% 2% 5%;	
}
/* mise en forme paragraphes */
article p
{
	margin:2% 1% 1% 1%;
}
/* bloc affichant une image et sa descritpion */
article figure
{
	width:98%;
	margin:0% 1% 1% 1%;
	border-bottom:2px solid rgb(18,26,28);
}
/* Image dans l'article */
article img
{
	width:100%;
}
/* desciption de l'image */
figcaption
{
	font-size:0.9em;
}



/* bloc conetant la video */
.video-container {
	margin:10px auto;
	max-width:95%;
	position: relative;
	padding-top: 30%;
	overflow: hidden;
	min-height: 100px;
	border: 2px solid rgb(18,26,28);
	border-radius: 10px;
}
/* affichage de la video */
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Mise en forme du contenu du tableau */
table
{
	margin:0 auto;
	width:99%;
	border-collapse:collapse;
	
}

thead
{
	padding-top:10px;
	font-size:1.1em;
}
th
{
    border: 2px solid rgb(18,26,28);
	padding:10px 0 10px 0;
	width:1px;
}


/* Pieds de page */

/* Forme du pieds de page  */
footer
{
	background-color:white;
	width: 95%;
	border-radius:10px;
	margin: 1%;
	margin-top:20px;
	display:flex;
	flex-direction:column;
	
}
/* liste des participants au projet envoie de mail  */
#foot
{
	padding-left:0px;
	text-align:center;
}
/* elements de la liste */
#foot li
{
	list-style:none;
	margin-bottom:10px;
}
/* liens  */
#foot a
{
	color:black;
}
/* images  */
#imgfoot1,#imgfoot2
{
	width:100%;
	max-height:150px;
	border-radius:10px;
}
}
